@font-face {
    font-family: Fjalla;
    src: local(Fjalla), url(../font/Fjalla/Fjalla\ One-Regular.ttf);
}

@font-face {
    font-family: Be Vietnam Pro;
    src: local(Be Vietnam Pro), url(../font/BeVietnamPro/Be\ Vietnam\ Pro-Regular.ttf);
}