$backColor: #0c0c0c;

@mixin reset() {
    position: relative;
    margin: 0;
    padding: 0;
}

@mixin font($family, $weight, $color) {
    color: $color;
    font-family: $family;
    font-weight: $weight;
}

@mixin dFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fullScreen() {
    width: 100%;
    height: 100dvh;
}

@mixin backImage() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin link() {
    position: absolute;
    @include fullScreen();
    @include dFlex();
    width: 100%;
    height: 100%;
    z-index: 2;

    &:hover {
        cursor: pointer;
    }
}