@import "fonts.scss";
@import "size.scss";
@import "properties.scss";

* {
    cursor: default;
}

body {
    @include reset();
    overflow-x: hidden;
    background-color: $backColor;
}

main {
    @include reset();
}

.container-card {
    @include dFlex();
    @include font(Be Vietnam Pro, bold, white);
    position: absolute;
    bottom: 0;
    // left: 0;
    // width: 100%;
}

.card {
    position: relative;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    z-index: 1;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    background-color: $backColor;
    overflow: hidden;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        z-index: 2;
        opacity: 1;
    }
}

#c1 {
    @include dFlex();
    flex-direction: column;

    .banner {
        @include backImage();
        background-position-x: 45%;
        background-image: url(https://images.alphacoders.com/129/thumb-1920-1293233.jpg);
    }

    .logo {
        filter: invert(100%);
    }
}

#c2 {
    @include dFlex();
    flex-direction: column;

    .banner {
        @include backImage();
        background-position-x: 50%;
        background-image: url(https://images5.alphacoders.com/134/thumb-1920-1341511.png);
    }

    .logo {
        filter: invert(100%);
    }
}

#c3 {
    @include dFlex();
    flex-direction: column;

    .banner {
        @include backImage();
        background-position-x: 60%;
        background-image: url(https://images8.alphacoders.com/133/thumb-1920-1339526.png);
    }
}

#f1 {
    @include dFlex();
    flex-direction: column;

    .banner {
        @include backImage();
        background-position-x: 30%;
        background-image: url(https://images4.alphacoders.com/632/thumb-1920-632889.jpg);
    }

    .logo {
        filter: invert(100%);
    }
}

#f2 {
    @include dFlex();
    flex-direction: column;

    .banner {
        @include backImage();
        background-position-x: 25%;
        background-image: url(https://images7.alphacoders.com/346/thumb-1920-346059.jpg);
    }

    .logo {
        filter: invert(100%);
        top: -10px;
        right: 15px;
    }
}

#f3 {
    @include dFlex();
    flex-direction: column;

    .banner {
        @include backImage();
        background-position-x: 60%;
        background-image: url(https://images6.alphacoders.com/412/thumb-1920-412305.jpg);
    }

    .logo {
        width: 20%;
        border-radius: 20px;
        filter: grayscale(100%);
    }
}

a {
    @include link();
}

.banner {
    width: 100%;
    height: 100%;
}

.cont {
    // @extend .banner;
    @include reset();
    position: absolute;
    left: 10%;
    bottom: 5%;
    height: auto;
    background-image: none !important;

    h4 {
        position: relative;
        // top: 15px;
    }

    h5 {
        font-style: italic;
        font-weight: lighter;
    }
}

.logo {
    position: absolute;
    width: 30%;
    top: 5px;
    right: 5px;
    opacity: 0.85;
}

h2 {
    @include reset();
    @include font(Fjalla, normal, white);
    position: absolute;
    top: 30px;
    left: 50px;

    span {
        position: relative;
        bottom: 45px;
        // font-size: 25px;
        font-style: italic;
    }
}

.template {
    @include reset();
    @include backImage();
    @include fullScreen();
    background-color: $backColor;
}

#cachorro {
    background-image: url(https://images4.alphacoders.com/133/thumb-1920-1339527.png);
}

#fotografia {
    background-image: url(https://images.pexels.com/photos/2831716/pexels-photo-2831716.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#culinaria {
    background-image: url(../img/culinaria.jpeg);
}

.gradient {
    background-image: linear-gradient(to top, black, transparent);
    @include fullScreen();
}

.gradientCard {
    background-image: linear-gradient(to top, black 60%, transparent 105%);
    @include fullScreen();
}